/* * * * * * * * * * * * * * * *
 *
 *   Front-end News! Stylesheet
 *
 *   Indigo       :	#3f51b5;
 *   Indigo (dark): #303f9f
 *   Light blue	  : #c5cae9
 *   White        : #fff
 *   Pink         : #ff4081
 *   Gray (dark)  : #212121
 *   Gray (medium): #727272
 *   Gray (light) : #b6b6b6
 *
 * * * * * * * * * * * * * * * */

/*- - - - - - - - - - - - - - - -
 *	 Base
 - - - - - - - - - - - - - - - - */

body {
	color: #212121;
	font-family: "Lato", "Roboto", "Roboto Light", "Roboto Condensed", "Roboto Mono", "Roboto Slab", "Monserrat", "Oswald", "Raleway", "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;;
}

h1, h2, h3, h4, h5, h6 {

}

ol, ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li:first-child a {
	padding-left: .3em;
}

p {

}

a {
	color: #ff4081;
}

a:active,
a:hover,
a:focus {
	color: #212121;
}

/*- - - - - - - - - - - - - - - -
 *	 hero
 - - - - - - - - - - - - - - - - */
.hero {
	background-color: #3f51b5;
	color: #fff;
	margin-bottom: 1.5em;
	padding: .5em 0;
	text-align: center;
	font-size: 1.5em;
}

/*- - - - - - - - - - - - - - - -
 *	 container
 - - - - - - - - - - - - - - - - */
 .container {
	 max-width: 80%;
	 margin: 0 auto;
 }

/*- - - - - - - - - - - - - - - -
 *	 logo
 - - - - - - - - - - - - - - - - */
.logo {
	font-size: 1.5em;
	font-weight: bold;
	font-variant: small-caps;
}

/*- - - - - - - - - - - - - - - -
 *	 news
 - - - - - - - - - - - - - - - - */
.news {

}

.news-item {
	border-bottom: 0.1em solid #b6b6b6;
	margin-bottom: 2em;
	padding-bottom: 2em;
}

.news-link {
	color: #3f51b5;
	display: block;
	font-size: 1.3em;
	margin-bottom: .3em;
}

.news-meta {
	font-size: .7em;
}

.news-meta-item {
	display: inline;
	margin-right: 1em;

}

/*- - - - - - - - - - - - - - - -
 *	 States
 - - - - - - - - - - - - - - - - */
 .is-liked {
	 animation: flash 2s;
 }

/*- - - - - - - - - - - - - - - -
 *	 Animation
 - - - - - - - - - - - - - - - - */
 @keyframes flash {
	 from, 50%, to {
		 opacity: 0;
	 }
	 15%, 75% {
		 opacity: 1;
	 }
 }