/* * * * * * * * * * * * * * * *
 *
 *   Front-end News! Stylesheet
 *
 *   Indigo       :	#3f51b5;
 *   Indigo (dark): #303f9f
 *   Light blue	  : #c5cae9
 *   White        : #fff
 *   Pink         : #ff4081
 *   Gray (dark)  : #212121
 *   Gray (medium): #727272
 *   Gray (light) : #b6b6b6
 *
 * * * * * * * * * * * * * * * */

/*- - - - - - - - - - - - - - - -
 *	 Base
 - - - - - - - - - - - - - - - - */

body {
	color: #212121;
	font-family: "Lato", "Roboto", "Roboto Light", "Roboto Condensed", "Roboto Mono", "Roboto Slab", "Monserrat", "Oswald", "Raleway", "Open Sans", sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5em;
	margin-top: 0;
}

ol, ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li:first-child a {
	padding-left: .3em;
}

p {

}

a {
	color: #ff4081;
}

a:active,
a:hover,
a:focus {
	color: #212121;
	transition: 0.2s ease-in-out;
}

/*- - - - - - - - - - - - - - - -
 *	 hero
 - - - - - - - - - - - - - - - - */
.hero {
	background-color: #3f51b5;
	color: #fff;
	margin-bottom: 1.5em;
	padding: .5em 0;
	text-align: center;
	font-size: 1.5em;
}

/*- - - - - - - - - - - - - - - -
 *	 container
 - - - - - - - - - - - - - - - - */
 .container {
	 max-width: 80%;
	 margin: 0 auto;
 }

/*- - - - - - - - - - - - - - - -
 *	 Content
 - - - - - - - - - - - - - - - - */
.content {
	margin-bottom: 2em;
}

/*- - - - - - - - - - - - - - - -
 *	 logo
 - - - - - - - - - - - - - - - - */
.logo {
	font-size: 1.5em;
	font-weight: bold;
	font-variant: small-caps;
}

/*- - - - - - - - - - - - - - - -
 *	 news
 - - - - - - - - - - - - - - - - */
.news {

}

.news-item {
	border-bottom: 0.1em solid #b6b6b6;
	margin-bottom: 2em;
	padding-bottom: 2em;
}

.news-item:last-child {
	border-bottom: 0;
	margin-bottom: 0;
}

.news-link {
	color: #3f51b5;
	display: block;
	font-size: 1.3em;
	margin-bottom: .3em;
}

.news-meta {
	font-size: .7em;
}

.news-meta-item {
	display: inline;
	margin-right: 1em;
}

 /*- - - - - - - - - - - - - - - -
 *	 Form
 - - - - - - - - - - - - - - - - */
.form {
	height: 0;
	margin-bottom: 2em;
	opacity: 0;
	visibility: hidden;
}

.form-label {
	display: block;
	font-weight: bold;
	margin-bottom: .3em;
}

.form-input {
	border: 0.1em solid #b6b6b6;
	border-radius: .3em;
	box-sizing: border-box;
	font-size: 1.2em;
	padding: .25em;
	width: 100%;
}

/*- - - - - - - - - - - - - - - -
 *	 States
 - - - - - - - - - - - - - - - - */
 .is-liked {
	 animation: flash 2s;
 }

 .is-visible {
	 height: auto;
	 opacity: 1;
	 visibility: visible;
	 transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
 }

 /*- - - - - - - - - - - - - - - -
 *	 Modal
 - - - - - - - - - - - - - - - - */
.modal {
	background-color: #fff;
	border-bottom-left-radius: .3em;
	border-bottom-right-radius: .3em;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .45);
	left: 50%;
	opacity: 0;
	position: absolute;
	top: 4em;
	transform: translate(-50%, -5%);
	transition: 0.4s ease-in-out;
	visibility: hidden;
	width: 30em;
	z-index: 2;
}

.modal.is-visible {
	opacity: 1;
	transform: translate(-50%, 0);
	visibility: visible;
}

.modal-media {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.modal-media-title {
	color: #fff;
	bottom: .5em;
	left: 8em;
	font-size: 1.3em;
	position: absolute;
}

.modal-content {
	font-size: 1.2em;
	padding: 0 .7em;
}

.modal-overlay {
	background-color: #212121;
	bottom: 0;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	transition: 0.4s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}

.modal-overlay.is-visible {
	opacity: .4;
	visibility: visible;
}

/*- - - - - - - - - - - - - - - -
 *	 Animation
 - - - - - - - - - - - - - - - - */
 @keyframes flash {
	 from, 50%, to {
		 opacity: 0;
	 }
	 15%, 75% {
		 opacity: 1;
	 }
 }